canvas{
    border: 2px solid black;
}

html{
    margin: 0px;
}

body{
    font-family: 'Abel', sans-serif;
}

#game{
    display: flex;
    justify-content: center;
}

#info{
    user-select: none;
    margin: auto;
    width:600px;
    height: fit-content
}

#items{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}